* {
    text-align: center;
}
h1{
    margin-bottom: 75px
}
body{
    background-color: dodgerblue;
}
button{
    font-size: 100px;
    padding: 10px;
    margin-top: 75px;
    background-color: green;
    border: 3px black solid;
    font-family: 'Kanit', sans-serif;
    transition: font-size 500ms, margin-top 500ms, background-color 500ms;
}
