body{
    background-color: dodgerblue;
}
* {
    text-align: center;
}
button{
    font-size: 2vw;
    padding: 10px;
    width: 500px;
    border: 3px black solid;
    font-family: 'Kanit', sans-serif;
    transition: font-size 500ms, margin-top 500ms, background-color 500ms;
}